@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css');
@import url('https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css');
@import url('https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css');
/* Root Variables for Colors */
:root {
    --primary-color: #007456;
    --secondary-color: #f19092;
    --bg-color-light: #ecf2f0;
    --card-bg-color: #FDE7DE; 
    --font-family: "Roboto Slab";
    
}

/* Universal styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family), sans-serif;
    
}

/* Navbar and Branding */
.navbar-brand {
    font-weight: bold;
    font-size: 25px;
}

/* Navigation Items */
.nav-item {
    font-size: 18px;
    margin: 0.7rem 1.2rem;
    font-weight: 500;
}

/* Buttons */
.btn-primary {
    background-color: var(--primary-color);
}

.btn-primary:hover {
  background-color: transparent;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.btn-outline-primary {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.btn-outline-primary:hover {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

/* Header and Background */
.bg-header {
    background-color: var(--bg-color-light);
}

.bg-header h1 {
    font-size: 50px;
}

/* Text Colors */
.text-color-1 {
    color: var(--primary-color);
}

.text-color-2 {
    color: var(--secondary-color);
}

/* Card Styles */
.card-1 {
    border-top: 3px solid var(--secondary-color);
    border-radius: 10px;
}

.card-1:hover {
    transform: scale(1.05);
}

.card-3 {
    background-color: var(--card-bg-color);
}

/* Footer Links */
footer ul {
    list-style: none;
    padding: 0;
}

footer ul li a {
    text-decoration: none;
    font-size: 16px;
    color: var(--primary-color);
}

footer ul li a:hover {
    text-decoration: underline;
    font-weight: 500;
}

/* Borders */
.border-bottom-white {
    border-bottom: 1px solid #fff;
}

/* Card Text */
.card-text {
    color: black;
    text-decoration: none;
    font-size: larger;
    font-weight: 500;
}

/* Links */
a:hover {
    color: var(--primary-color);
}

/* Hover Effects for Images */
.hover-card img {
    transition: transform 0.5s ease-in-out;
}

.hover-card img:hover {
    transform: scale(1.02);
}

/* Category Slider */
.category-slider {
    margin: auto;
}

/* Category Item */
.list-cate-item {
    background: #d4e6e180;  
    padding: 24px;
    /* border: 1px solid var(--primary-color); */
    margin: 0 10px;
    border-radius: 16px;
    position: relative;
    text-align: left;
    overflow: hidden;
    transition: box-shadow .3s;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Category Icon */
.icon-cate {
    display: inline-block;
    margin-bottom: 15px;
    background-color: var(--primary-color);
    padding: 20px;
    border-radius: 60px;
    color: white;
    font-size: 20px;
}

/* Category Title */
.cate-title {
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 5px;
}

/* Category Count */
.cate-count {
    font-size: 14px;
    margin-bottom: 10px;
    opacity: 0.85;
}

/* Category Description */
.cate-des {
    font-size: 14px;
    line-height: 1.5;
    opacity: 0.95;
}

 

/* Arrow Button Styling */
.slick-prev, .slick-next {
    width: 30px !important;
    height: 30px !important;
}

.slick-prev:before, .slick-next:before {
    font-size: 30px !important;
    background-color: var(--primary-color) !important;
    border-radius: 30px;
}

/* Category Cards */
.category-card-1, .category-card-2, .category-card-3 {
    background-color: transparent;
    padding: 0;
}
